################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Desktop/Power4You/WinFormsDotNet8_Vorlage/WinFormsDotNet8_Vorlage/.vs/WinFormsDotNet8_Vorlage
