* {
  font-family: Segoe UI,"Segoe UI Web (West European)",-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100% !important;
  height: 100vh !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.canvas {
  padding: 10px;
  height: 100vh;
  width: 100%;
}

.border-radius {
  border-radius: 5px;
}

.margin-right-small {
  margin-right: 5px;
}

.margin-right-large {
  margin-right: 10px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}

.margin-bottom-large {
  margin-bottom: 10px;
}

.height-full {
  height: 100%;
}
.width-full {
  width: 100%;
}