.header {
    height: 60px;
    background-color: #c4c4c4;
    width: 100% !important;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    width: 164.5px;
    justify-content: flex-end;
}